//==========================================Цвета====================================================//

$black: #000000;
$white: #ffffff;
$greyBlack: #141e30;
$greyLight: #243b55;
$blue: #03e9f4;
$blackTransparentHalf: rgba(0, 0, 0, 0.5);
$blackTransparentOverHalf: rgba(0, 0, 0, 0.6);
$error: #800001;

//==========================================Настройки===============================================//

// Цвет текста по-умолчанию
$defaultTextColor: $black;
