.pagination {
   @extend %centerflex;
   padding: 0.208em;
   @extend %bblockstyle;
   margin: 0 auto;

   &-item {
      display: inline-block;
      color: v.$white;
      background: none;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      @include m.adaptiveValue('font-size', 24px, 20px);

      a {
         display: inline-block;
         padding: 0.11em 0.208em;
      }

      a:not(.pagination-active) {
         cursor: pointer;
         color: inherit;
         width: 100%;
         height: 100%;

         &:focus {
            color: v.$comicsRad;
         }

         @supports selector(:focus-visible) {
            &:focus {
               color: inherit;
            }

            &:focus-visible {
               color: v.$comicsRad;
            }
         }

         @include m.hover {
            color: v.$gray;
            opacity: 0.5;
         }
      }
   }

   &-active,
   button:disabled {
      color: v.$gray;
      opacity: 0.5;
      cursor: default;
   }

   // @media all and (max-width: 850px) {
   //    display: none;
   // }
}
