@use '../../vars' as vars;

%layot {
   display: grid;
   grid-auto-flow: column;
   grid-template-rows: minmax(75px, auto) 1fr minmax(25px, auto);
}

%bblockstyle {
   border-radius: 10px;
   border: 2px solid var(--card-color);
   background-color: var(--card-bg);
}
