%link-effects {
   transition: color 0.4s ease 0s;

   @include m.hover {
      color: var(--info-link-color-hover, v.$orangeBlack);
   }

   @include m.focused {
      color: var(--info-link-color-hover, v.$orangeBlack);
   }
}

.movie_info {
   @include m.flex(null, null, column);
   row-gap: f.rem(10px);
   @extend %bblockstyle;
   position: sticky;
   top: 0;
   background-color: var(--additional-card-bg, v.$blackLightTransparent);
   padding: f.rem(15px) f.rem(10px);
   max-width: calc(25% - 2px);
   width: 100%;
   height: fit-content;
   min-height: 12%;
   overflow-x: hidden;
   overflow-y: auto;

   @include m.tablet {
      min-height: 7%;
   }

   @include m.smallmobile {
      min-height: 5%;
   }

   @media all and (max-width: 450px) {
      max-width: calc(45% - 2px);
   }

   &_header {
      @include m.flex(null, null, column);
      row-gap: f.rem(8px);
   }

   &_title {
      @include m.adaptiveValue('font-size', 18px, 14px);
      font-variant: small-caps;
      font-weight: bold;
      color: var(--info-title, v.$whiteDark);
      text-align: center;
   }

   &_close {
      align-self: center;
      width: fit-content;
      padding: f.rem(2px);
      color: var(--info-title, v.$whiteDark);
      background-color: transparent;
      @extend %link-effects;
   }

   &_body {
      @include m.flex(null, null, column);
      row-gap: f.rem(5px);
   }

   &_image {
      @include m.responsiveImage(true);
      padding: 0 0 146% 100%;

      img {
         object-position: center top;
      }
   }

   &_text {
      @include m.adaptiveValue('font-size', 14px, 10px);

      &_row {
         padding: 0.143em;
         @include m.adaptiveValue('font-size', 14px, 10px);
         line-height: 1.3;
         color: var(--default-text-color, v.$gray);
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         line-clamp: 5;
         -webkit-line-clamp: 5;

         & span {
            @include m.adaptiveValue('font-size', 14px, 10px);
            font-weight: bold;
            line-height: 1.3;
            color: var(--button-color, v.$whiteDark);

            @include m.smalltablet {
               word-wrap: break-word;
            }
         }
      }
   }

   &_url {
      @include m.adaptiveValue('font-size', 14px, 10px);
      text-align: center;
      color: var(--footer-link-color, v.$amberDark);
      @extend %link-effects;
   }

   &_center {
      justify-content: center;
      align-items: center;
   }
}
