.footer {
   color: var(--text-color, v.$white);
   min-height: 2.083em;
   @extend %centerflex;
   @include m.adaptiveValue('font-size', 16px, 12px);
   padding: 0.417em 0.208em;

   &_body {
      text-transform: uppercase;
      text-align: center;
      text-wrap: balance;
      padding: f.rem(5px) 0 f.rem(10px);

      a {
         color: inherit;
         transition: color 0.4s ease 0s;

         @include m.hover {
            color: var(--footer-link-color, v.$amberDark);
         }

         @include m.focused {
            color: var(--footer-link-color, v.$amberDark);
         }
      }
   }
}
