.footer {
   color: v.$white;
   min-height: 2.083em;
   @extend %centerflex;
   @include m.adaptiveValue('font-size', 24px, 20px);
   padding: 0.417em 0.208em;

   &-body {
      text-transform: uppercase;
      text-align: center;
   }
}
