%fontsize {
   @include m.adaptiveValue('font-size', 16px, 12px);
}

.search {
   @extend %centerflex;
   @extend %bblockstyle;
   @extend %fontsize;
   min-width: 15em;
   width: 100%;
   padding: f.rem(5px) 0;
   overflow: hidden;

   &-field {
      width: 100%;
      background-color: var(--search-field-bg);
      @extend %fontsize;
      padding-left: f.rem(10px);

      & input {
         width: 100%;
         caret-color: var(--button-color);
         text-transform: uppercase;
         outline: none;
         @include m.colors(var(--button-color), var(--search-field-bg));
         @extend %fontsize;
      }
   }

   &-button {
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      border-left: 2px solid var(--button-focus-shadow-color);
      text-transform: uppercase;
      padding: 0.625em;
      @extend %fontsize;
      @include m.colors(var(--button-color), var(--additional-card-bg));
      @include m.animatebtn();

      @include m.focused {
         box-shadow: inset 0 0 0.125em 0.125em var(--button-focus-shadow-color);
      }

      &:focus {
         box-shadow: inset 0 0 0.125em 0.125em var(--button-focus-shadow-color);
      }
   }

   &-error-button {
      color: var(--error-color);
      font-weight: 600;
      border-radius: 10px 0 0 10px;
      border-right: 2px solid var(--button-focus-shadow-color);
      border-left: none;
   }
}
