%fontsize {
   @include m.adaptiveValue('font-size', 16px, 12px);
}

.search {
   @extend %centerflex;
   @extend %bblockstyle;
   @extend %fontsize;
   min-width: 15em;
   width: 100%;
   padding: f.rem(5px) 0;
   overflow: hidden;

   &_field {
      width: 100%;
      background-color: var(--card-color, v.$blackLight);
      @extend %fontsize;
      padding-left: f.rem(10px);

      & input {
         width: 100%;
         text-transform: uppercase;
         outline: none;
         @extend %fontsize;
         @include m.colors(var(--button-color, v.$whiteDark), var(--card-color, v.$blackLight));
         caret-color: var(--search-caret-color, v.$whiteDark);
      }
   }

   &_button {
      cursor: pointer;
      border-radius: 0 10px 10px 0;
      border-left: 2px solid var(--card-bg, v.$blackUltraTransparent);
      text-transform: uppercase;
      padding: 0.625em;
      @extend %fontsize;
      @include m.colors(var(--button-color, v.$whiteDark), var(--additional-card-bg, v.$blackLightTransparent));
      @include m.animatebtn();

      @include m.focused {
         box-shadow: inset 0 0 0.125em 0.125em var(--button-focus-shadow-color, v.$blackUltraTransparent);
      }
   }

   &_error_button {
      color: var(--error-color, v.$comicsRad);
      font-weight: 600;
      border-radius: 10px 0 0 10px;
      border-right: 2px solid var(--card-bg, v.$blackUltraTransparent);
      border-left: none;
   }
}
