.movie {
   @extend %centercolflex;
   align-items: stretch;
   color: var(--default-text-color, v.$gray);
   padding: 0.357em 0 0.714em 0;
   cursor: pointer;

   &-header {
      @extend %centerflex;
      justify-content: space-between;
      width: 100%;
      padding: f.rem(5px);

      @media all and (max-width: 450px) {
         display: flex;
         justify-content: center;
      }
   }

   &-body {
      @include m.flex(null, center);
      @include m.adaptiveValue('font-size', 15px, 11px);
      width: 100%;

      @media all and (max-width: 450px) {
         flex-direction: column;
      }
   }

   &-title {
      @include m.adaptiveValue('font-size', 19px, 15px);
      color: var(--movie-title-color, v.$grayLight);
      font-variant: small-caps;
      font-weight: bold;

      @media all and (min-width: 451px) {
         padding-right: f.rem(10px);
      }
   }

   &-rating {
      display: flex;
      font-weight: bold;
      color: var(--raiting-color, v.$whiteLux);
      @include m.adaptiveValue('font-size', 12px, 8px);
      border-radius: 10px;
      overflow: hidden;
      min-width: max-content;

      span {
         text-transform: uppercase;
      }

      &-kip {
         display: inline-block;
         background-color: var(--kip-raiting-bg, v.$yellowClack);
         padding: 0.417em 0.833em;
         text-align: center;
         min-width: max-content;
      }

      &-imdb {
         display: inline-block;
         background-color: var(--imdb-raiting-bg, v.$orangeBlack);
         padding: 0.417em 0.833em;
         text-align: center;
         min-width: max-content;
      }

      @media all and (max-width: 450px) {
         display: none;
      }
   }

   &-image {
      @include m.responsiveImage(true);
      padding-bottom: f.em(195px, 15px);
      padding-left: f.em(138px, 15px);

      & img {
         transition: all 0.7s ease 0s;

         @include m.hover {
            transform: scale(1.3);
         }
      }
   }

   &-text {
      @extend %columnflex;
      align-self: stretch;
      min-height: 100%;
      padding: 0 0.714em;
      line-height: 1.6;
      font-size: inherit;

      &-title {
         @include m.flex(space-around, null, column);
         height: 100%;
         color: var(--default-text-color, v.$gray);
         padding: 0.278em;
         font-size: inherit;

         & span {
            color: var(--button-color, v.$whiteDark);
         }
      }

      &-row {
         font-size: inherit;
         padding: 0.143em;

         & span {
            font-weight: bold;
         }
      }

      &-body {
         @include m.adaptiveValue('font-size', 15px, 11px);
         color: var(--default-text-color, v.$gray);
         padding: 0.357em;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-box-orient: vertical;
         line-clamp: 5;
         -webkit-line-clamp: 5;

         @media all and (max-width: 260px) {
            display: none;
         }
      }
   }

   &:not(:last-child) {
      border-bottom: 1px inset var(--card-bg, v.$blackUltra);
   }
}
